.container {
    margin: 20px;
  }
  
  h1 {
    margin-bottom: 10px;
  }
  
  button {
    margin-top: 10px;
  }
  
  #cart div {
    margin-bottom: 10px;
  }
  
  #cart p:last-child {
    margin-top: 5px;
  }